<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065527965532-knovbrl2eilp05u7f5tejaqaljmcusrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065527965532-knovbrl2eilp05u7f5tejaqaljmcusrq</string>
	<key>API_KEY</key>
	<string>AIzaSyBpJnUO1rKkiGzeBSapHkNzzKS12kNOkD0</string>
	<key>GCM_SENDER_ID</key>
	<string>1065527965532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ryde</string>
	<key>PROJECT_ID</key>
	<string>carribean-ryde</string>
	<key>STORAGE_BUCKET</key>
	<string>carribean-ryde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065527965532:ios:bd6ea96b26d24962caf399</string>
	<key>DATABASE_URL</key>
	<string>https://carribean-ryde-default-rtdb.firebaseio.com</string>
</dict>
</plist>